<%- include('../partials/header')%>

<div class="container mt-6 mb-4">
    <div class="notification">
        <h1 class="is-size-3 has-text-centered">Favorites</h1>
    </div>
</div>

  <div class="columns is-centered">
    <div class="column is-four-fifths">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Country&nbsp;</th>
                    <th>Country Code&nbsp;</th>
                    <th>Continent&nbsp;</th>
                    <th>Advisory Score&nbsp;</th>
                    <th>Details&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% countriesArray.forEach(country => { %>
                    <%  let ccMatch = user.favorites.some(function(favorite) { %>
                        <%  return favorite.countryCode === country.iso_alpha2 %>
                        <% }); %>
                        
                        <% if (ccMatch) { %>
                <tr>
                    <td><%= country.name %></td>
                    <td><%= country.iso_alpha2 %></td>
                    <td><%= country.continent %></td>
                    <td><%= country.advisory.score %></td>
                    <td><a href="/countries/<%= country.iso_alpha2 %>"><button class="button is-dark">Details</button></a></td>
                    <td>
                        <form action="/favorites/<%= country.iso_alpha2 %>?_method=DELETE" method="POST">
                            <button type="submit" name="countryCode" class="button is-danger">Delete Favorite</button>
                        </form>
                    </td>
                </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>