<%- include('../partials/header')%>

<div class="container mt-6 mb-4">
    <div class="notification">
        <h1 class="is-size-3 has-text-centered">Safest Countries to Travel To</h1>
    </div>
</div>

<div class="columns is-centered">
    <div class="column is-four-fifths">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Country Code</th>
                    <th>Continent</th>
                    <th>Advisory Score</th>
                    <th>Details&nbsp;</th>

                    <% if(user) { %>

                        <th>Favorite&nbsp;</th>

                    <% } %>

                </tr>
            </thead>
            <tbody>
                <% topCountries.forEach(country => { %>
                <tr>
                    <td><%= country.name %></td>
                    <td><%= country.iso_alpha2 %></td>
                    <td><%= country.continent %></td>
                    <td><%= country.advisory.score %></td>
                    <td><a href="/countries/<%= country.iso_alpha2 %>"><button class="button is-dark">Details</button></a></td>

                    <% let ccMatch %>

                    <% if(user) { %>

                    <%  ccMatch = user.favorites.some(function(favorite) { %>
                        <%  return favorite.countryCode === country.iso_alpha2 %>
                        <% }); %>

                        <% if (ccMatch) { %>
                            <td>
                                <form action="/favorites/<%= country.iso_alpha2 %>?_method=DELETE" method="POST">
                                    <button type="submit" name="countryCode" class="button is-danger">Delete Favorite</button>
                                </form>
                            </td>
                        <% } else { %>
                            <td>
                                <form action="/favorites/<%= country.iso_alpha2 %>" method="POST">
                                    <button type="submit" name="countryCode" class="button is-success">Add Favorite</button>
                                </form>
                            </td>
                        <% } %>
                    <% } %>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-6 mb-4">
    <div class="notification">
        <h1 class="is-size-3 has-text-centered">All Countries</h1>
    </div>
</div>

<div class="columns is-centered">
    <div class="column is-four-fifths">
        <table class="table is-striped is-fullwidth">
            <thead>
                <tr>
                    <th><a href="/countries?method=alphabetical">Country</a></th>
                    <th><a href="/countries?method=countryCode">Country Code</a></th>
                    <th><a href="/countries?method=continent">Continent</a></th>
                    <th><a href="/countries?method=advisoryScore">Advisory Score</a></th>
                    <th>Details&nbsp;</th>

                    <% if(user) { %>

                        <th>Favorite&nbsp;</th>

                    <% } %>

                </tr>
            </thead>
            <tbody>
                <% countriesArray.forEach(country => { %>
                <tr>
                    <td><%= country.name %></td>
                    <td><%= country.iso_alpha2 %></td>
                    <td><%= country.continent %></td>
                    <td><%= country.advisory.score %></td>
                    <td><a href="/countries/<%= country.iso_alpha2 %>"><button class="button is-dark">Details</button></a></td>

                    <% let ccMatch %>

                    <% if(user) { %>

                    <%  ccMatch = user.favorites.some(function(favorite) { %>
                        <%  return favorite.countryCode === country.iso_alpha2 %>
                        <% }); %>

                        <% if (ccMatch) { %>
                            <td>
                                <form action="/favorites/<%= country.iso_alpha2 %>?_method=DELETE" method="POST">
                                    <button type="submit" name="countryCode" class="button is-danger">Delete Favorite</button>
                                </form>
                            </td>
                        <% } else { %>
                            <td>
                                <form action="/favorites/<%= country.iso_alpha2 %>" method="POST">
                                    <button type="submit" name="countryCode" class="button is-success">Add Favorite</button>
                                </form>
                            </td>
                        <% } %>
                    <% } %>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
