<%- include('../partials/header')%>



<h1 class="is-size-3"><strong>Country:</strong> <%= country.name %></h1>
<h1 class="is-size-3"><strong>Country Code:</strong> <%= country.iso_alpha2 %></h1>
<h1 class="is-size-3"><strong>Continent:</strong> <%= country.continent %></h1>
<h1 class="is-size-3"><strong>Recommendation:</strong> <%= country.advisory.message %></h1>