<%- include('../partials/header')%>

<body id="showbody">
    <!-- TILE START -->
    <div class="tile is-ancestor mt-6">
        <div class="tile is-parent is-4">
            <article class="tile is-child box">
                <p class="title is-spaced"><%= country.name %></p>
                <p class="subtitle"><strong>Capital: </strong><%= flagCountry.capital %></p>
                <p class="subtitle"><strong>Population: </strong><%= numeral(flagCountry.population).format('0,0') %>
                </p>
                <p class="subtitle"><strong>Languages: </strong>

                    <% flagCountry.languages.forEach(function(language, idx){ %>
                    <% if (idx === flagCountry.languages.length -1) { %>
                    <%= language.name %>.
                    <% } else { %>
                    <%= language.name %>,
                    <% } %>
                    <% }) %>


                </p>
                <p class="subtitle"><strong>Currencies: </strong>

                    <% flagCountry.currencies.forEach(function(currency, idx){ %>
                    <% if (idx === flagCountry.currencies.length -1) { %>
                    <%= currency.name %>.
                    <% } else { %>
                    <%= currency.name %>,
                    <% } %>
                    <% }) %>

                </p>
                <p class="subtitle"><strong>Native Name: </strong><%= flagCountry.nativeName %></p>
            </article>
        </div>

        <div class="tile is-parent is-4">
            <article class="tile is-child box">
                <div class="content">
                    <img src="<%= flagCountry.flag %>" alt="">
                </div>
            </article>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">Favorite</p>

                <% if (user) { %>

                <%  let ccMatch = user.favorites.some(function(favorite) { %>
                <%  return favorite.countryCode === country.iso_alpha2 %>
                <% }); %>

                <div class="content">
                    <% if (ccMatch) { %>
                    <p class="subtitle">Delete <%= country.name %> from your favorites list.</p>
                    <form
                        action="/favorites/<%= country.iso_alpha2 %>?_method=DELETE&root=countries&countryCode=<%= country.iso_alpha2 %>"
                        method="POST">
                        <button type="submit" class="button is-danger is-large">Delete Favorite</button>
                    </form>
                    <% } else { %>
                    <p class="subtitle">Add <%= country.name %> to your favorites list.</p>
                    <form
                        action="/favorites/<%= country.iso_alpha2 %>?root=countries&countryCode=<%= country.iso_alpha2 %>"
                        method="POST">
                        <button type="submit" class="button is-success is-large">Add Favorite</button>
                    </form>
                    <% }; %>
                </div>

                <% } else { %>
                <p class="subtitle">Login with Google to add <%= country.name %> to your favorites list.</p>
                <div class="content">
                    <a href="/auth/google" class="button is-dark is-large">Login with Google</a>
                </div>
                <% } %>
            </article>
        </div>
    </div>

    <!-- SECOND TILE -->

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">

                <div class="tile is-parent is-vertical">
                    <article class="tile is-child box">
                        <p class="subtitle">Region:</p>
                        <p class="title"> <%= flagCountry.region %></p>
                    </article>
                    <article class="tile is-child box">
                        <p class="subtitle">Country Code:</p>
                        <p class="title"><%= country.iso_alpha2 %></p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">Travel Recommendation:</p>
                        <p class="subtitle"><%= country.advisory.message %></p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Explore <%= country.name %></p>
                    <iframe width="100%" height="600" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=<%= token %>&q=<%= country.name %>"
                        allowfullscreen>
                    </iframe>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent is is-vertical">
            <article class="tile is-child box">
                <p class="title is-spaced">Covid Data:</p>
                <% if(covidCountry) { %>
                <p class="subtitle">Total Confirmed Cases:</p>
                <p class="title is-3 is-spaced"><%= numeral(covidCountry.TotalConfirmed).format('0,0') %></p>
                <p class="subtitle">New Confirmed Cases:</p>
                <p class="title is-3 is-spaced"><%= numeral(covidCountry.NewConfirmed).format('0,0') %></p>
                <p class="subtitle">New Deaths:</p>
                <p class="title is-3 is-spaced"><%= numeral(covidCountry.NewDeaths).format('0,0') %></p>
                <p class="subtitle">Total Deaths:</p>
                <p class="title is-3 is-spaced"><%= numeral(covidCountry.TotalDeat).format('0,0') %></p>
                <p class="subtitle">New Recovered:</p>
                <p class="title is-3 is-spaced"><%= numeral(covidCountry.NewRecovered).format('0,0') %></p>
                <p class="subtitle">Total Recovered:</p>
                <p class="title is-3 is-spaced"><%= numeral(covidCountry.TotalRecovered).format('0,0') %></p>
                <p class="subtitle">Date Updated:</p>
                <p class="title is-3 is-spaced">
                    <% const date = new Date(covidCountry.Date) %>
                    <%= date.toDateString() %>
                </p>
                <% } else { %>
                <p class="title is-3 is-spaced">Sorry, we currently don't have any COVID-19 data for <%= country.name %>
                </p>
                <% } %>
            </article>
        </div>
    </div>

    <!-- THIRD TILE -->

    <div class="tile is-ancestor">
        <div class="tile is-parent is-6">
            <article class="tile is-child box">
                <p class="title">Experience Board</p>
                <div class="content">
                    <% comments.forEach(function(comment){ %>
                    <article class="media pt-5">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="<%= comment.user.avatar %>" class="is-rounded">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong><%= comment.user.name %></strong>
                                    <br>
                                    <%= comment.text %>
                                </p>
                            </div>
                        </div>
                        <% if(comment.user._id.equals(user && user._id)) { %>
                        <div class="media-right">
                            <div class="content">
                                <form
                                    action="/comments/<%=  comment._id %>?_method=DELETE&countryCode=<%= country.iso_alpha2 %>"
                                    method="POST">
                                    <button class="button is-small is-rounded is-danger is-fullwidth"
                                        type="submit">Delete</button>
                                </form>
                                <a href="/comments/<%=  comment._id %>/edit?countryCode=<%= country.iso_alpha2 %>"><button
                                        class="button is-small is-rounded is-warning is-fullwidth mt-1">Edit</button></a>
                            </div>
                        </div>
                        <% } %>
                    </article>
                    <% }); %>
                </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <% if (user) { %>
                <p class="title">Share Your Experience In <%= country.name %> </p>
                <div class="content">
                    <form action="/countries/<%= country.iso_alpha2 %>/comments" method="POST">
                        <textarea name="text" cols="60" rows="5" class="is-size-5 commentbox"></textarea><br>
                        <input type="submit" value="Submit Comment" class="button is-info is-large is-fullwidth mt-4">
                    </form>
                </div>
                <% } else { %>
                <p class="title">Share Your Experience In <%= country.name %> </p>
                <p class="subtitle">Login with Google to leave a comment. </p>
                <div class="content">
                    <a href="/auth/google" class="button is-dark is-large mt-4">Login with Google</a>
                </div>
                <% } %>
            </article>
        </div>
    </div>

    <!-- TILE END -->

</body>